<div class="header">
    <div class="logo">Library Management</div>
    <nav>
      <div class="nav-buttons">
        <button>Home</button>
        <button>Borrow and Return Details</button>
        <button>Books Catalog</button>
        <button>Feedback</button>
      </div>
    </nav>
  <div class="search-box">
    <form action=""> 
       <input type="text" name="search" id="srch" placeholder="search">
       <button type="submit"><i class="pi pi-search"></i></button>
    </form> 
    <div class="icon-bar">
      <span class="pi pi-user"></span>
    </div>   
  </div>