<div class="header">
  <div class="logo">Library Management</div>
  <nav>
    <div class="nav-buttons">
      <a href="home"><button>Home</button></a>
      <a href="borrow-and-returm-details"><button>Borrow and Return Details</button></a>
      <a href="book-catlog"><button>Books Catalog</button></a>
      <a href="feedback"><button>Feedback</button></a>
    </div>
  </nav>
  <div class="search-box">
      <form action=""> 
          <input type="text" name="search" id="srch" placeholder="search">
          <button type="submit"><i class="pi pi-search"></i></button>
      </form> 
      <div class="icon-bar">
          <a href="profile"><span class="pi pi-user"></span></a>
      </div>   
  </div>
</div>
