<div class="dashboard">
  <!-- Toggle Button -->
  <button class="toggle-btn" onclick="toggleSidebar()">Library Admin</button>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar">
    <h2>Library Admin</h2>
    <ul>
      <li><a href="admin-dashboard">Dashboard</a></li>
      <li><a href="borrow-return">Borrow and Return</a></li>
      <li><a href="book-management">Books Management</a></li>
      <li><a href="feedback.html">Feedback</a></li>
      <li><a href="logout.html">Logout</a></li>
    </ul>
  </div>
</div>
