<p>welcome works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System - Home</title>
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <h1>Welcome to the Deparment of ComputerScience Library </h1>
        <div class="button-container">
            <a href="login" class="button">Login</a>
            <a href="register" class="button">Register</a>
        </div>
    </div>
</body>
</html>