<app-admin-header></app-admin-header>

<div class="feedback-container">
    <h2>User Feedback Reviews</h2>

   
    <!-- Feedback Table -->
    <table>
        <thead>
            <tr>
                <th (click)="sortFeedback('bookName')">Book Name</th>
                <th (click)="sortFeedback('author')">Author</th>
                <th (click)="sortFeedback('ratings')">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of filteredFeedbackList">
                <td>{{ feedback.bookName }}</td>
                <td>{{ feedback.author }}</td>
                <td>{{ '⭐'.repeat(feedback.ratings) }}</td>
            </tr>
        </tbody>
    </table>
</div>
