<app-admin-header></app-admin-header>
<div class="dashboard">
  <div class="content">

    <div class="borrow-return">
      <h2>Borrow and Return</h2>

      <!-- Search and Filter Section -->
      <div class="search-box">
        <input type="text" name="search" id="srch" placeholder="search">
        <button type="submit"><i class="pi pi-search"></i></button>
      </div>
      <div>
        <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()">
          <h3>Enter Borrow/Return Details</h3>
          <div class="form-row">
            <label for="book-no">Book No:</label>
            <input type="text" id="book-no" formControlName="bookNo" placeholder="Enter Book No">
          </div>
          <div class="form-row">
            <label for="book-name">Book Name:</label>
            <input type="text" id="book-name" formControlName="bookName" placeholder="Enter Book Name">
          </div>
          <div class="form-row">
            <label for="author">Author:</label>
            <input type="text" id="author" formControlName="author" placeholder="Enter Author">
          </div>
          <div class="form-row">
            <label for="register-no">Register No:</label>
            <input type="text" id="register-no" formControlName="registerNo" placeholder="Enter Register No">
          </div>
          <div class="form-row">
            <label for="borrowed-by">Borrowed By:</label>
            <input type="text" id="borrowed-by" formControlName="borrowedBy" placeholder="Enter Borrower's Name">
          </div>
          <div class="form-row">
            <label for="borrowed-date">Borrowed Date:</label>
            <input type="date" id="borrowed-date" formControlName="borrowedDate">
          </div>
          <div class="form-row">
            <label for="returning-date">Returning Date:</label>
            <input type="date" id="returning-date" formControlName="returningDate">
          </div>
          <button type="submit" [disabled]="addBookForm.invalid">Add Entry</button>
        </form>
      </div>

      <table>
        <thead>
          <tr>
            <th>Book No</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Borrowed By</th>
            <th>Borrowed Date</th>
            <th>Returning Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ book.bookName }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.availability }}</td>
            <td>{{ book.location }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>