<app-user-header></app-user-header>

<div class="borrow-return-container">
  <h2>Borrow and Return History</h2>

  <table>
    <thead>
      <tr>
        <th>SI No</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Borrowed Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of borrowedBooks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ record.bookName }}</td>
        <td>{{ record.author }}</td>
        <td>{{ record.borrowDate }}</td>
        <td>{{ record.returnDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
