<app-user-header></app-user-header>
<div class="borrow-return-container">
  <h2></h2>
  <table>
    <thead>
      <tr>
        <th>SI No</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Borrowed Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Introduction to HTML</td>
        <td>John Doe</td>
        <td>2024-02-05</td>
        <td>2024-02-15</td>
      </tr>
      <tr>
        <td>2</td>
        <td>CSS Basics</td>
        <td>Jane Smith</td>
        <td>2024-02-08</td>
        <td>2024-02-18</td>
      </tr>
    </tbody>
  </table>
</div>
