<app-admin-header></app-admin-header>
<div class="dashboard">
    <div class="content">
      <div class="dashboard-header">Admin Dashboard</div>
      <div class="stats-container">
        <div class="stat-card">
          <h3>25</h3>
          <p>Total Books</p>
        </div>
        <div class="stat-card">
          <h3>6</h3>
          <p>Total Students</p>
        </div>
        <div class="stat-card">
          <h3>2</h3>
          <p>Returned Today</p>
        </div>
        <div class="stat-card">
          <h3>5</h3>
          <p>Borrowed Today</p>
        </div>
      </div>
    </div>
  </div>
  