<app-user-header></app-user-header>
<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <h2>User Profile</h2>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSave()">
            <div class="profile-info">
                <label for="name">Name:</label>
                <input type="text" id="name" formControlName="name" required>
                

                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email" required>
                

                <label for="borrowed">Books Borrowed:</label>
                <input type="number" id="borrowed" formControlName="borrowed" >

                <label for="returned">Books Returned:</label>
                <input type="number" id="returned" formControlName="returned" >
            </div>
            <div class="profile-actions">
                <button type="submit" class="save-btn" [disabled]="profileForm.invalid">Save Changes</button>
                <button type="button" class="logout-btn" (click)="logout()">Logout</button>
            </div>
        </form>
    </div>
</div>